// Primary colours
$lighting-blue: #17459d;
$white: #ffffff;
$deep-koamaru: #2a3c5f;

// Secondary colours
$gray: #727980;
$alabaster: #edefe2;
$light-gray: #e7e7e7;
$dark-gray: #727980;
$red-glow: #e74c3c;
$green-glow: #2ecc71; 