@use "./partials/colours" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 1rem;
}
.nav {
  background-color: black;
  opacity: 0.8;
  color: whitesmoke;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  &__text {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding: 1.45rem 1.875rem 1.15rem 1.875rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 3.5rem;
  }

  &__img {
    max-width: 8.75rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
  }
}
.hero {
  background: url(../assets/images/scott-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0.9;
  padding: 10rem 4rem;
  background-position: 0 25%;

  &__container {
    display: flex;
    align-items: center;
    max-width: 85rem;
    margin: 0 auto;
  }

  &__paper {
    background: url(../assets/images/paper-template.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 40rem;
    min-height: 20rem;
    padding: 11rem 1rem 1rem 1rem;
    border: 0.625rem solid $lighting-blue;
    border-radius: 1.563rem;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__quote {
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    color: $gray;
  }
}
.answers {
  margin-top: 2rem;
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  &__container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }
  &__answer {
    width: 40%;
    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: solid 4px $lighting-blue;
    transform: scale(1.1);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:checked + label {
      border: solid 10px $lighting-blue;
      background-color: red;
    }
  }
  &__answer-radio {
    color: $lighting-blue;
    margin-left: 1rem;
    &:hover{
        background-color: $gray;
    }
  }
}
.button {
  padding: 0.5rem 1.5rem;
  background-color: $lighting-blue;
  color: $white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  &--skip {
    margin-right: 1rem;
  }
}
